@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
:root {
  /* color */
  --primary-color: bisque;
  --secondary-color: bisque;
  --main-bg-color: bisque;
  --text-color: black;

  /* font */
  --font-size: 16px;
  --font-weight: 700;
  --font-family: "Roboto Condensed", sans-serif;
}

html,
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}
